{% load static %}


            <!-- Slider With Banner Area End Here -->
            <!-- Begin Product Area -->
            <div class="product-area pt-60 pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="li-product-tab">
                                <ul class="nav li-product-menu">
                                   <li><a class="active" data-toggle="tab" href="#li-new-product"><span>En Son Eklenen Araçlar</span></a></li>
                                   <li><a data-toggle="tab" href="#li-bestseller-product"><span>Sizin İçin Seçilen Araçlar</span></a></li>

                                </ul>
                            </div>
                            <!-- Begin Li's Tab Menu Content Area -->
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="li-new-product" class="tab-pane active show" role="tabpanel">
                            <div class="row">
                                <div class="product-active owl-carousel">
                                    {% for rs in lastproducts %}
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="/product/{{ rs.id }}/{{ rs.slug }} ">
                                                    <img src="{{rs.image.url}}" alt="Li's Product Image" style="height: 120px">
                                                </a>
                                             <span class="sticker">Yeni</span>
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">

                                                    <h4><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title}}</a></h4>
                                                    <div class="price-box">
                                                                    <span class="new-price">Günlük: <i style="color:coral">₺{{ rs.price }} </i></span>

                                                                </div>
                                                </div>
                                                <div class="add-actions">
                                                    <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Vites : {{ rs.gear}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Motor: {{ rs.engine}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Koltuk Sayısı: {{ rs.number_of_seats}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Model: {{ rs.modelyear}}</a></h7>

                                                </div>

                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                    {% endfor %}




                                </div>
                            </div>
                        </div>
                        <div id="li-bestseller-product" class="tab-pane" role="tabpanel">
                            <div class="row">
                                <div class="product-active owl-carousel">
                                   {% for rs in randomproducts %}
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="/product/{{ rs.id }}/{{ rs.slug }} ">
                                                    <img src="{{ rs.image.url }}" alt="Li's Product Image" style="height: 120px">
                                                </a>

                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">

                                                    <h4><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title}}</a></h4>
                                                    <div class="price-box">
                                                                    <span class="new-price">Günlük: <i style="color:coral">₺{{ rs.price }} </i></span>

                                                                </div>
                                                </div>
                                                <div class="add-actions">
                                                    <br>
                                                    <ul class="add-actions-link">
                                                        <br>
                                                        <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Vites : {{ rs.gear}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Motor: {{ rs.engine}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Koltuk Sayısı: {{ rs.number_of_seats}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Model: {{ rs.modelyear}}</a></h7>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                    {% endfor %}



                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Product Area End Here -->

<br>



<section class="product-area li-laptop-product li-tv-audio-product pb-45">
                <div class="container">
                    <div class="row">
                        <!-- Begin Li's Section Area -->
                        <div class="col-lg-12">
                            <div class="li-section-title">
                                <h2>
                                    <span>SEDAN ARAÇLAR</span>
                                </h2>

                            </div>
                            <div class="row">
                                <div class="product-active owl-carousel">
                                    {% for rs in sedan %}
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="/product/{{ rs.id }}/{{ rs.slug }}">
                                                    <img src="{{rs.image.url}}" alt="Li's Product Image" style="height: 120px">
                                                </a>

                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">

                                                    <h4><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title}}</a></h4>
                                                    <div class="price-box">
                                                                    <span class="new-price">Günlük: <i style="color:coral">₺{{ rs.price }} </i></span>

                                                                </div>
                                                </div>
                                                <div class="add-actions">
                                                    <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Vites : {{ rs.gear}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Motor: {{ rs.engine}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Koltuk Sayısı: {{ rs.number_of_seats}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Model: {{ rs.modelyear}}</a></h7>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                    {% endfor %}


                                </div>
                            </div>
                        </div>
                        <!-- Li's Section Area End Here -->
                    </div>
                </div>
            </section>
<br>

<section class="product-area li-laptop-product li-tv-audio-product pb-45">
                <div class="container">
                    <div class="row">
                        <!-- Begin Li's Section Area -->
                        <div class="col-lg-12">
                            <div class="li-section-title">
                                <h2>
                                    <span>SUV ARAÇLAR</span>
                                </h2>

                            </div>
                            <div class="row">
                                <div class="product-active owl-carousel">
                                    {% for rs in suvs %}
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="/product/{{ rs.id }}/{{ rs.slug }}">
                                                    <img src="{{rs.image.url}}" alt="Li's Product Image" style="height: 120px">
                                                </a>

                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">

                                                    <h4><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title}}</a></h4>
                                                    <div class="price-box">
                                                                    <span class="new-price">Günlük: <i style="color:coral">₺{{ rs.price }} </i></span>

                                                                </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Vites : {{ rs.gear}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Motor: {{ rs.engine}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Koltuk Sayısı: {{ rs.number_of_seats}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Model: {{ rs.modelyear}}</a></h7>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                    {% endfor %}


                                </div>
                            </div>
                        </div>
                        <!-- Li's Section Area End Here -->
                    </div>
                </div>
            </section>

<br>

<section class="product-area li-laptop-product li-tv-audio-product pb-45">
                <div class="container">
                    <div class="row">
                        <!-- Begin Li's Section Area -->
                        <div class="col-lg-12">
                            <div class="li-section-title">
                                <h2>
                                    <span>STATION WAGON ARAÇLAR</span>
                                </h2>

                            </div>
                            <div class="row">
                                <div class="product-active owl-carousel">
                                    {% for rs in stationwagon %}
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="/product/{{ rs.id }}/{{ rs.slug }}">
                                                    <img src="{{rs.image.url}}" alt="Li's Product Image" style="height: 120px">
                                                </a>

                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">

                                                    <h4><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title}}</a></h4>
                                                    <div class="price-box">
                                                                    <span class="new-price">Günlük: <i style="color:coral">₺{{ rs.price }} </i></span>

                                                                </div>
                                                </div>
                                                <div class="add-actions">
                                                    <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Vites : {{ rs.gear}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Motor: {{ rs.engine}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Koltuk Sayısı: {{ rs.number_of_seats}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Model: {{ rs.modelyear}}</a></h7>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                    {% endfor %}


                                </div>
                            </div>
                        </div>
                        <!-- Li's Section Area End Here -->
                    </div>
                </div>
            </section>
<br>

<section class="product-area li-laptop-product li-tv-audio-product pb-45">
                <div class="container">
                    <div class="row">
                        <!-- Begin Li's Section Area -->
                        <div class="col-lg-12">
                            <div class="li-section-title">
                                <h2>
                                    <span>HATCHBACK ARAÇLAR</span>
                                </h2>

                            </div>
                            <div class="row">
                                <div class="product-active owl-carousel">
                                    {% for rs in hatchback %}
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="/product/{{ rs.id }}/{{ rs.slug }}">
                                                    <img src="{{rs.image.url}}" alt="Li's Product Image" style="height: 120px">
                                                </a>

                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">

                                                    <h4><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title}}</a></h4>
                                                    <div class="price-box">
                                                                    <span class="new-price">Günlük: <i style="color:coral">₺{{ rs.price }} </i></span>

                                                                </div>
                                                </div>
                                                <div class="add-actions">
                                                    <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Vites : {{ rs.gear}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Motor: {{ rs.engine}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Koltuk Sayısı: {{ rs.number_of_seats}}</a></h7>
                                                                <br>
                                                                <h7><a class="product_name" href="/product/{{ rs.id }}/{{ rs.slug }}">Model: {{ rs.modelyear}}</a></h7>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                    {% endfor %}


                                </div>
                            </div>
                        </div>
                        <!-- Li's Section Area End Here -->
                    </div>
                </div>
            </section>
<br>
<br>
            <!-- Li's Static Banner Area End Here -->

