

{% extends "homebase.html" %}

{% load static %}

{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description}} {% endblock %}

{% block head %}

    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />

 {% endblock %}



{% block content %}

      <title>Yazılım yolcusu iletişim</title>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- Begin Contact Main Page Area -->
            <div class="contact-main-page mt-60 mb-40 mb-md-40 mb-sm-40 mb-xs-40">
                <div class="container mb-60">
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1bEU3SDAeLk1UwJa3ThNYZqAJo_ipBRlF" width="640" height="480"></iframe>
                 
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 offset-lg-1 col-md-12 order-1 order-lg-2">
                            <div class="contact-page-side-content">
                                <h3 class="contact-page-title">İletişim</h3>
                                <p class="contact-page-message mb-25"> {{ setting.contact|safe }}</p>
                                <div class="single-contact-block">
                                    <h4><i class="fa fa-fax"></i> Addres</h4>
                                    <p>{{ setting.adress|safe}}</p>
                                </div>
                                <div class="single-contact-block">
                                    <h4><i class="fa fa-phone"></i> Telefon</h4>
                                    <p>Mobil: {{ setting.phone }}</p>

                                </div>
                                <div class="single-contact-block last-child">
                                    <h4><i class="fa fa-envelope-o"></i> Email</h4>
                                    <p>{{ setting.email }}</p>

                                </div>
                            </div>
                        </div>



                        <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                            <div class="contact-form-content pt-sm-55 pt-xs-55">
                                <h3 class="contact-page-title">Mesaj bırakın</h3>
                                <div class="contact-form">

                                        <div class="form-group">

                                            {% if messages %}
                                                {% for message in messages %}
                                                    <div class = "alert alert-{{ message.tags }}" role="alert">
                                                        {{ message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}



                                            <form action="" method="post">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                <input type="submit" value="Gönder">

                                            </form>



                                </div>
                                <p class="form-messege"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}