

{% extends "homebase.html" %}

{% load static %}

{% block title %} {{ product.title }} {% endblock %}
{% block keywords %} {{ product.keywords }} {% endblock %}
{% block description %} {{ product.description}} {% endblock %}

{% block head %}

    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />

 {% endblock %}



{% block content %}


            <!-- Header Area End Here -->
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="/home/">Home</a></li>
                            <li><a href="/product/{{ rs.id }}/{{ rs.slug }}" class="active">{{ rs.title }}</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- content-wraper start -->
            <div class="content-wraper">
                <div class="container">
                    <div class="row single-product-area">
                        <div class="col-lg-5 col-md-6">
                           <!-- Product Details Left -->
                            <div class="product-details-left">
                                <div class="product-details-images slider-navigation-1">
                                    <br>

                                    <div class="lg-image">

                                           <img src="{{ product.image.url }}" alt="product image">
                                        </a>
                                    </div>

                                    {% for rs in images %}
                                    <div class="lg-image">

                                            <img src="{{ rs.image.url }}" alt="product image">
                                        </a>
                                    </div>
                                    {% endfor %}


                                </div>
                                <div class="product-details-thumbs slider-thumbs-1">
                                    <div class="sm-image"><img src="{{ product.image.url }}" alt="product image thumb" style="height: 75px"></div>
                                    {% for rs in images %}
                                    <div class="sm-image"><img src="{{ rs.image.url }}" alt="product image thumb" style="height: 75px"></div>
                                    {% endfor %}

                                </div>
                            </div>
                            <!--// Product Details Left -->
                        </div>

                        <div class="col-lg-7 col-md-6">
                            <div class="product-details-view-content pt-60">
                                <div class="product-info">
                                    <h2>{{ product.title}}</h2>

                                    <div class="price-box pt-20">
                                        <span class="new-price new-price-2">${{ product.price }}</span>
                                    </div>
                                    <div class="product-desc">
                                        <p>
                                            <span>
                                                {{ product.detail|safe }}
                                                <h3>
                                        <span class="product-details-ref">|| Vites : {{ product.gear}}  ||</span>

                                        <span class="product-details-ref"> Koltuk Sayısı : {{ product.number_of_seats}}  ||</span>

                                        <span class="product-details-ref"> Motor Gücü : {{ product.engine}}  ||</span>

                                        <span class="product-details-ref"> Kategori : {{ product.type}}  ||</span>


                                                </h3>
                                            </span>
                                        </p>
                                    </div>



                                    <div class="single-add-to-cart">
                                        <form action="#" class="cart-quantity">
                                            <div class="quantity">

                                            </div>
                                            <a class="review-links" href="#" data-toggle="modal" data-target="#mymodal2">Rent Now!</a>
                                        </form>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <script language="JavaScript">

                                        sayi=0

                                    </script>

                    {% for rs in comments %}
                     <script language="JavaScript">

                                        sayi++

                                    </script>
                    {% endfor %}
            <!-- content-wraper end -->
            <!-- Begin Product Area -->
            <div class="product-area pt-35">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="li-product-tab">
                                <ul class="nav li-product-menu">
                                   <li><a class="active" data-toggle="tab" href="#description"><span>Açıklama</span></a></li>
                                   <li><a data-toggle="tab" href="#product-details"><span>Detay</span></a></li>
                                   <li><a data-toggle="tab" href="#reviews"><span>Yorumlar ( <script language="JavaScript">

                                        document.write(sayi)

                                    </script> )  </span></a></li>
                                </ul>
                            </div>
                            <!-- Begin Li's Tab Menu Content Area -->
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="description" class="tab-pane active show" role="tabpanel">
                            <div class="product-description">
                                <span>{{ product.description }}</span>
                            </div>
                        </div>
                        <div id="product-details" class="tab-pane" role="tabpanel">
                            <div class="product-details-manufacturer">

                               <span>{{ product.detail|safe }}</span>

                            </div>
                        </div>



                        <div id="reviews" class="tab-pane" role="tabpanel">
                            <div class="product-reviews">
                                <div class="product-details-comment-block">
                                    <div class="li-comment-section">
                                        <div class="review-btn">
                                        <a class="review-links" href="#" data-toggle="modal" data-target="#mymodal">Write Your Review!</a>
                                            <br>
                                            <br>
                                    </div>

                                        {% for rs in comments %}
                                        <ul>
                                            <li>
                                                <div class="author-avatar pt-15">
                                                    <img src="{% static 'images/product-details/user.png' %}" alt="User">
                                                </div>
                                                <div class="comment-body pl-15">

                                                    <h5 class="comment-author pt-15">{{ rs.user.first_name }}</h5> <p>  <div class="review-rating pull-right">

                                                        <i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"> </i>
                                                        <i class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}"> </i>
                                                        <i class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}"> </i>
                                                        <i class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}"> </i>
                                                        <i class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}"> </i>

                                                    </div></p>
                                                    <div class="comment-post-date">
                                                        {{ rs.create_at}}
                                                    </div>
                                                    <p>{{ rs.subject }}</p>
                                                    <p1>{{ rs.comment }}</p1>
                                                </div>
                                            </li>

                                        </ul>


                                        {% endfor %}

</p>

                                    </div>

                                <p>


                                    <!-- Begin Quick View | Modal Area -->
                                    <div class="modal fade modal-wrapper" id="mymodal" >
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <h3 class="review-page-title">Write Your Review</h3>
                                                    <div class="modal-inner-area row">
                                                        <div class="col-lg-6">
                                                           <div class="li-review-product">
                                                               <img src="{{ product.image.url }}" alt="Li's Product" style="height: 200px " style="width: 200px">
                                                               <div class="li-review-product-desc">
                                                                   <p class="li-product-name">{{ product.title}}</p>
                                                                   <p>
                                                                       <span> {{ product.detail|safe }} </span>
                                                                   </p>
                                                               </div>
                                                           </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="li-review-content">
                                                                <!-- Begin Feedback Area -->
                                                                <div class="feedback-area">
                                                                    <div class="feedback">
                                                                        <h3 class="feedback-title">Our Feedback</h3>
                                                                        <form class="review-form" action="/product/addcomment/{{ product.id }}" method="POST">
                                                                    {% csrf_token %}
                                                                    <div class="form-group">

                                                                        <input class="input" type="text" name="subject" id="id_subject" placeholder="Subject" />

                                                                    </div>
                                                                    <div class="form-group">

                                                                        <textarea class="input" name="comment" id="id_comment" placeholder="Your review"> </textarea>

                                                                    </div>

                                                                    <div class="form-group">

                                                                        <div class="input-rating">

                                                                            <strong class="text-uppercase">Your rating: </strong>
                                                                            <div class="star-rating">
                                                                                <input type="radio" placeholder="5" id="star5" name="rate" value="5" /> <label for="star5"></label>
                                                                                <input type="radio" id="star4" name="rate" value="4" /> <label for="star4"></label>
                                                                                <input type="radio" id="star3" name="rate" value="3" /> <label for="star3"></label>
                                                                                <input type="radio" id="star2" name="rate" value="2" /> <label for="star2"></label>
                                                                                <input type="radio" id="star1" name="rate" value="1" /> <label for="star1"></label>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                    {% if user.id is not None %}
                                                                    <button class="primary-btn">Send Comment</button>
                                                                    {% else %}
                                                                        Yorum eklemek icin <a href="/login ">Login</a> yapiniz..
                                                                    {% endif %}






                                                                </form>
                                                                    </div>
                                                                </div>
                                                                <!-- Feedback Area End Here -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Quick View | Modal Area End Here -->

                                  <!-- Begin Quick View | Modal Area -->
                                    <div class="modal fade modal-wrapper" id="mymodal2" >
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <h3 class="review-page-title">Hemen Kirala</h3>
                                                    <div class="modal-inner-area row">
                                                        <div class="col-lg-6">
                                                           <div class="li-review-product">
                                                               <img src="{{ product.image.url }}" alt="Li's Product" style="height: 200px " style="width: 200px">
                                                               <div class="li-review-product-desc">
                                                                   <p class="li-product-name">{{ product.title}}</p>
                                                                   <p>
                                                                       <span> {{ product.detail|safe }} </span>
                                                                   </p>
                                                               </div>
                                                           </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="li-review-content">
                                                                <!-- Begin Feedback Area -->
                                                                <div class="feedback-area">
                                                                    <div class="feedback">
                                                                        <br>
                                                                        <form class="review-form" action="/reservation/addreservation/{{ product.id }}" method="POST">
                                                                    {% csrf_token %}
                                                                    <div class="form-group">

                                                                        <input class="input" type="text" name="rezdate" id="id_rezdate" placeholder="rezdate" />

                                                                    </div>

                                                                            <div class="form-group">

                                                                        <input class="input" type="text" name="reztime" id="id_reztime" placeholder="reztime" />

                                                                    </div>

                                                                        <div class="form-group">

                                                                        <input class="input" type="text" name="returndate" id="id_returndate" placeholder="returndate" />

                                                                    </div>


                                                                    <div class="form-group">

                                                                        <input class="input" name="returntime" id="id_returntime" placeholder="returntime"/>

                                                                    </div>

                                                                        <div class="form-group">

                                                                        <input class="input" name="days" id="id_days" placeholder="days"/>

                                                                    </div>

                                                                    {% if user.id is not None %}
                                                                    <button class="primary-btn">Send Comment</button>
                                                                    {% else %}
                                                                        Rezervasyon yapabilmek icin <a href="/login ">Login</a> yapiniz..
                                                                    {% endif %}






                                                                </form>
                                                                    </div>
                                                                </div>
                                                                <!-- Feedback Area End Here -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Quick View | Modal Area End Here -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product Area End Here -->



{% endblock %}