

{% extends "homebase.html" %}

{% load static %}

{% block title %} Sign Up {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description}} {% endblock %}

{% block head %}

    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />

 {% endblock %}



{% block content %}

      <title> Login </title>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- Begin Contact Main Page Area -->
            <div class="contact-main-page mt-60 mb-40 mb-md-40 mb-sm-40 mb-xs-140">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 offset-lg-3 col-md-12 order-1 order-lg-2">
                            <div class="contact-page-side-content">

                                 <div class="contact-form-content pt-sm-55 pt-xs-55">
                                <h3 class="contact-page-title"> Sign Up</h3>
                                <div class="contact-form">



                                            {% if messages %}
                                                {% for message in messages %}
                                                    <div class = "alert alert-{{ message.tags }}" role="alert">
                                                        {{ message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}

                                            <form method="post">

                                                {% csrf_token %}

                                                {% for field in form %}
                                                <p>
                                                    {{ field.label.tag }} <br>
                                                    {{ field }}
                                                    {% if field.help_text %}
                                                    <small style="color: gray">{{ field.help_text }}</small>
                                                    {% endif %}
                                                    {% for error in field.errors %}
                                                         <p style="color: red"> {{ error }} </p>
                                                    {% endfor %}


                                                </p>
                                                 {% endfor %}
                                            <button  type="submit"> Sign Up</button>




                                            </form>






                            </div>


                        </div>


                            </div>

                        <br>
                        <br>
                        <br>
                        </div>





                </div>
            </div>

{% endblock %}