

{% extends "homebase.html" %}

{% load static %}

{% block title %} {{ profile.user_name }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description}} {% endblock %}

{% block head %}

    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />

 {% endblock %}



{% block content %}

      <title>User</title>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- Begin Contact Main Page Area -->
            <div class="contact-main-page mt-60 mb-40 mb-md-40 mb-sm-40 mb-xs-40">

                <div class="container">
                    <div class="row">
                          <div class="col-lg-3 offset-lg-1 col-md-80 order-1 order-lg-2">
                            <div class="contact-page-side-content">
                                {% include "user_panel.html" %}
                            </div>

                            <br>
                        </div>



                        <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                            <div class="contact-form-content pt-sm-55 pt-xs-55">
                                <h3 class="contact-page-title">User Profile</h3>
                                <table class="shopping-cart-table table">

                                            {% if messages %}
                                                {% for message in messages %}
                                                    <div class = "alert alert-{{ message.tags }}" role="alert">
                                                        {{ message|safe }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}



                                    <form method="post">

                                        {% csrf_token %}

                                        {% for field in form %}
                                            <p>
                                                {{ field.label_tag }} <br>
                                                {{ field }}
                                                {% if field.help_text %}
                                                    <small style="color:grey">{{ field.help_text }}</small>
                                                {% endif %}
                                            {% for error in field.errors %}
                                        <p> {{ error }}</p>
                                              {% endfor %}
                                             </p>
                                        {% endfor %}

                                    <button class="btn btn-outline-info" type="submit"> Kaydet</button>



                                    </form>



                                </table>



                            </div>
                    </div>
                </div>
            </div>

{% endblock %}