

{% extends "homebase.html" %}

{% load static %}

{% block title %} {{ profile.user_name }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description}} {% endblock %}

{% block head %}

    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />

 {% endblock %}



{% block content %}

      <title>User</title>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- Begin Contact Main Page Area -->
            <div class="contact-main-page mt-60 mb-40 mb-md-40 mb-sm-40 mb-xs-40">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 offset-lg-1 col-md-80 order-1 order-lg-2">
                            <div class="contact-page-side-content">
                                {% include "user_panel.html" %}
                            </div>

                            <br>
                        </div>



                        <div class="col-lg-8 col-md-13 order-2 order-lg-1">
                            <div class="contact-form-content pt-sm-55 pt-xs-55">
                                <h3 class="contact-page-title">Rezervasyonlarınız</h3>
                                <table class="shopping-cart-table table">


                                    {% if messages %}
                                                {% for message in messages %}
                                                    <div class = "alert alert-{{ message.tags }}" role="alert">
                                                        {{ message|safe }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}

                                <tr>


                                    <th class="text-left"> Product</th>
                                    <th class="text-left"> RezDate</th>
                                    <th class="text-left"> ReturnDate</th>

                                    <th class="text-left"> Not</th>
                                    <th class="text-left"> Status</th>

                                    <th class="text-left"> Sil</th>

                                </tr>

                                {% for rs in reservations %}
                                    <tr>



                                    <td class="text-left">
                                        <a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}">{{ rs.product.title }} </a>
                                        </td>

                                    <td class="text-left"> {{ rs.rezdate }}</td>
                                    <td class="text-left"> {{ rs.returndate }}</td>


                                    <td class="text-left"> {{ rs.note }}</td>
                                    <td class="text-left"> {{ rs.status }}</td>
                                    {% if rs.status == 'New' %}
                                    <td class="text-left"><a class="primary-btn" href="/user/deletereservations/{{ rs.id }}" onclick="return confirm('Rezervasyon talebiniz silinecek. Emin misiniz?')"> Sil </a> </td>
                                    {% endif %}

                                    </tr>
                                {% endfor %}





                                </table>



                            </div>
                    </div>
                </div>
            </div>

{% endblock %}