

{% extends "homebase.html" %}

{% load static %}

{% block title %} {{ profile.user_name }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description}} {% endblock %}

{% block head %}

    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />

 {% endblock %}



{% block content %}

      <title>User</title>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- Begin Contact Main Page Area -->
            <div class="contact-main-page mt-60 mb-40 mb-md-40 mb-sm-40 mb-xs-40">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 offset-lg-1 col-md-80 order-1 order-lg-2">
                            <div class="contact-page-side-content">
                                {% include "user_panel.html" %}
                            </div>

                            <br>
                        </div>



                        <div class="col-lg-8 col-md-13 order-2 order-lg-1">
                            <div class="contact-form-content pt-sm-55 pt-xs-55">
                                <h3 class="contact-page-title">Kullanıcı Profili</h3>
                                <table class="shopping-cart-table table">
                                <tr>
                                     <th class="text-left">

                                            <a href ="/user/update" class="review-links">Bilgileri Güncelle</a>
                                         <br>


                                    </th>
                                    <th class="text-center">

                                        <a href ="/user/password" class="review-links">Şifre Değiştir</a>
                                    </th>

                                </tr>

                                    {% if messages %}
                                                {% for message in messages %}
                                                    <div class = "alert alert-{{ message.tags }}" role="alert">
                                                        {{ message|safe }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}


                                    <tr>

                                        <th class="text-left"> Image:</th>
                                        <td> <img style="height:200px" src="{{ profile.image.url }}"> </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Name & Surname:</th>
                                        <td class="text-left"> {{ profile.user.first_name }} {{ profile.user.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left"> E-mail:</th>
                                        <td class="text-left"> {{ profile.user.email }}</td>
                                    </tr>
                                     <tr>
                                        <th class="text-left"> Phone:</th>
                                        <td class="text-left"> {{ profile.phone }}</td>
                                     </tr>
                                      <tr>
                                        <th class="text-left"> Address:</th>
                                        <td class="text-left"> {{ profile.address }}</td>
                                    </tr>
                                     <tr>
                                        <th class="text-left"> City:</th>
                                        <td class="text-left"> {{ profile.city }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left"> Country:</th>
                                        <td class="text-left"> {{ profile.country }}</td>
                                    </tr>



                                </table>



                            </div>
                    </div>
                </div>
            </div>

{% endblock %}