

                                <div class="sidebar-title">
                                    <h2>Profile Settings</h2>
                                </div>
                                <!-- category-sub-menu start -->
                                <div class="category-sub-menu">
                                    <ul>
                                        <li class="has-sub"><a href="# ">Settings</a>
                                            <ul>
                                                <li><a href="/user">Üye Profili</a></li>
                                                <li><a href="/user/update">Üye Profili Güncelleme</a></li>
                                                <li><a href="/user/password">Şifre Değiştirme</a></li>
                                                <li><a href="/user/comments">Üye Yorumları</a></li>
                                                <li><a href="/user/reservations">Üye Rezervasyonları</a></li>
                                                <li><a href="/logout">Çıkış</a></li>

                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                                <!-- category-sub-menu end -->


